

<nav class="navbar-dark bg-dark fixed-bottom" style=" height: 8%;">
    <div class="container-fluid">
        <div class="text-white pt-4" style="text-align: center;">Developed by Borche Smileski ®</div>
    </div>
</nav>
</body>

</html>