<%- include("partials/header.ejs") %>
<div  id="home">
    <div class="container"  >
         <h2 class="bg-white" id="headline1">Learn how to play chess<br/> from the best</h2>
    </div>

</div>


    <%- include("partials/footer.ejs") %>