<%- include("partials/header.ejs") %>
  <div id="learnChess">
      <div class="contained justify-content-center d-flex ]" id="learnChess1">
          <img src="/images/learnChessPage.png" alt="">
      </div>
      <div class="text-center pt-5 shadow-lg p-3 mb-5 bg-body rounded ">
        <button class="btn btn-primary" id="btn">
           Start
        </button>
      </div>
  </div>
<%- include("partials/footer.ejs") %>