<%- include("partials/header.ejs") %>
  <div id="playChess"> 
    <div class="contained justify-content-center d-flex pt-5" id="playChess1">
      <img src="/images/chess_game.jpg" style="width: 27%;" alt="">
  </div>
  <div class="text-center pt-5 shadow-lg p-3 mb-5 bg-body rounded ">
    <button class="btn" style="color:blue; background-color: rgb(34, 168, 34);" id="btn">
       Play again
    </button>
  </div>
  </div>
<%- include("partials/footer.ejs") %>